*{
    padding: 0%;
    margin: 0%;
}

:root{
    --corPrincipal: #000;
    --corSecundaria: #fff;
    --corTerciaria: #008080;
    --corAnimacao: #797878;
}

h1{
    color: var(--corSecundaria);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    background-color: var(--corPrincipal);
}

.cabecalho-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.cabecalho-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 4;
    height: 12vh;
}

.content{
    width: 100vw;
    height: 615.5px;
    background-color: var(--corSecundaria);
    color: var(--corPrincipal);
}

.rodape{
    width: 100vw;
    height: 35px;
    background-color: var(--corPrincipal);
    color: var(--corSecundaria);
}

a {
    margin: 0 2vw 1vw;
    text-decoration: none;
    font-size: large;
}
.cabecalho a:hover{
    color: var(--corAnimacao);
}
a:link{
    color: var(--corSecundaria);
}
a:visited{
    color: var(--corSecundaria);
}
a:active{
    color: var(--corSecundaria)
}

@media(max-width:720px){
    .cabecalho-logo{
        display: none;
    }
    .cabecalho-menu{
        justify-content: center;
    }
}
@media(max-width:320px){
    .cabecalho-logo{
        display: none;
    }
    .cabecalho-menu{
        flex-direction: column;
    }
}